.ui-collapsible-inset .ui-collapsible-heading .ui-btn{
border-radius: 0 !important;
}
.ui-controlgroup-controls li{
float:left;
list-style:none;
}
.inner {
width: 75%;
position: relative;
margin: 0 auto;
background:white;
}
.topBar {
width: 100%;
height: 28px;
background: black;
}
.logo {
margin: 30px auto;
position: relative;
width: 175px;
}
.topSlideImages{
width:876px;
}
.bxslider{
padding:0;
margin:0;
}
.bx-wrapper{
width:83%;
}